.giphBoardContainer{

}
.giph-profile-picture{
  background: #CBCBCB;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
}

.front-giph{
  background: #C3C8CD;
  border: 1px solid #979797;
  box-shadow: 0px 6px 4px 0px rgba(0,0,0,0.50);
  border-radius: 4px;
}
.second-giph{
  opacity: 0.44;
  background: #C3C8CD;
  border: 1px solid #979797;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
  border-radius: 4px;
}
.third-giph{
  opacity: 0.67;
  background: #C3C8CD;
  border: 1px solid #979797;
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.50);
  border-radius: 4px;
}
.giph-title{
  background: #ACB2B8;
  border-radius: 2px;
}
.giphBoard-heart{
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
}
.giphBoard-heart-value{
  font-family: Helvetica;
  font-size: 20px;
  color: #000000;
}

/* Rectangle 20: */
background: #ACB2B8;
border-radius: 2px;
/* Rectangle 20: */
opacity: 0.44;
background: #C3C8CD;
border: 1px solid #979797;
box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
border-radius: 4px;
/* Rectangle 20: */
opacity: 0.67;
background: #C3C8CD;
border: 1px solid #979797;
box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.50);
border-radius: 4px;
/* Rectangle 20: */
background: #C3C8CD;
border: 1px solid #979797;
box-shadow: 0px 6px 4px 0px rgba(0,0,0,0.50);
border-radius: 4px;
/* Oval 9: */
background: #CBCBCB;
box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
/* Heart-128 Copy: */
box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
/* 53: */
font-family: Helvetica;
font-size: 20px;
color: #000000;
