.giphBoardContainer{
  display:inline-block;
  position: relative;
  margin-top: 30px;
  margin-bottom: 20px;
}

.giph-profile-picture{
  position: absolute;
  z-index: 4;
  left: 2%;
  top: -6%;
  border-radius: 50%;
  background: #CBCBCB;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
  width: 3em;
  cursor: pointer;
}
  .giph-profile-picture.large{
    width: 5em;
    top: -10%;
}

.front-giph{
  position: relative;
  background: #C3C8CD;
  border: 1px solid #979797;
  box-shadow: 0px 6px 4px 0px rgba(0,0,0,0.50);
  border-radius: 4px;
  width: 250px;
  height: 200px;
  cursor: pointer;
  z-index: 3;
}
.front-giph.large{
  z-index: 1;

}

.second-giph{
  position: absolute;
  top: 15%;
  left: 10%;
  opacity: 0.67;
  background: #C3C8CD;
  border: 1px solid #979797;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
  border-radius: 4px;
  width: 230px;
  height: 180px;
  z-index: 2;
  /*-webkit-transform: scaleX(0.9) translateY(3rem);
     -moz-transform: scaleX(0.9) translateY(3rem);
     transform: scaleX(0.9) translateY(3rem);
     -webkit-transition: all 0.25s ease-in-out;
     -moz-transition: all 0.25s ease-in-out;
     transition: all 0.25s ease-in-out;
     -webkit-transition-delay: 0.2s;
     -moz-transition-delay: 0.2s;
     transition-delay: 0.2s;*/
}
.second-giph.large{
  width: 250px;
  height: 200px;
  position: relative;
  z-index: 1;
  top: 0%;
  left: 0%;
  opacity: 1;
  box-shadow: 0px 6px 4px 0px rgba(0,0,0,0.50);
  cursor: pointer;

}
.third-giph{
  position: absolute;
  top: 43%;
  left: 17%;
  opacity: 0.44;
  background: #C3C8CD;
  border: 1px solid #979797;
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.50);
  border-radius: 4px;
  width: 180px;
  height: 130px;
  z-index: 1;
}
.third-giph.large{
  width: 250px;
  height: 200px;
  position: relative;
  top: 0%;
  left: 0%;
  opacity: 1;
  box-shadow: 0px 6px 4px 0px rgba(0,0,0,0.50);
  cursor: pointer;

}
.giph-title{
  background: #ACB2B8;
  border-radius: 2px;
  text-align: left;
}
.giphBoard-heart{
  position: absolute;
  left: 85%;
  top: 85%;
  width: 2.5em;
  z-index: 4;
  shadow: 0px 4px 8px 0px rgba(0,0,0,0.50);
  color: #FFF;
  cursor: pointer;
}
.giphBoard-heart.large{
  left: 80%;
  top: 80%;
  width: 4em;
}
.giphBoard-heart-value{
  position: absolute;
  left: 87%;
  top: 80%;
  text: center;
  z-index: 5;
  font-family: Helvetica;
  font-size: 15px;
  color: #FFF;
  cursor: pointer;
}
.giphBoard-heart-value.large{
  left: 81.5%;
  top: 75%;
  font-size: 25px;
  color: #FFF;
}

@media (min-width: 200px) {
  .giphBoard-heart-value.large{
    left: 83%;
    top: 78%;
  }
}
@media (min-width: 540px) {
  .giphBoard-heart-value.large{
    left: 81.5%;
    top: 77%;
  }
}
@media (min-width: 792px) {
  .giphBoard-heart-value.large{
    left: 81.5%;
    top: 75%;
  }
  .giph-profile-picture.large{
    width: 5em;
    top: -25%;
}
}
